/* ---------- DEFININDO AS CORES UTILIZADAS ---------- */
:root{
    --first-color: rgb(255, 255, 255);
    --second-color: rgb(0, 0, 0);
    --third-color: rgb(94, 94, 94);
}
body{
    position: relative;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    
}
body section{
    height: auto;
    padding-top: 50px;
}
.col{
    padding-left: 0;
    padding-right: 0;
}
.row{
    margin: 0;
}
/* ---------- GERAIS ---------- */
.title-page{
    border: none;
}
.img-page-full{
    margin: auto;
    min-width: auto;
    width: 100%;
    max-width: 100%;
    min-height: 40vh;
    height: auto;
    max-height: 90vh;
}
/* ---------- HOME ---------- */
#home{
    background: var(--first-color);
}
.content-carousel{
    padding: 0;
}
/* ---------- PROJETO ---------- */
#projeto{
    background: var(--first-color);
}
.img-project{
    width: 150px;
    height: 150px;
}
/* ---------- PROTÓTIPO ---------- */
#prototipo{
    background: var(--first-color);
}
iframe{
    margin: 0;
    padding: 0; 
}

/* ---------- QUEM SOMOS ---------- */

#quem_somos{
    background: var(--first-color);
}
.box{
    background: transparent;
    border: none;
}
.text-dev{
    color: var(--second-color);
}
.github-dev{
    padding: 0;
    width: 50px;
    height: 50px;
}

/* ---------- RODAPÉ ---------- */
/*
footer{
    background: var(--second-color);
    color: var(--first-color);
    padding: 10px;
}
*/

/*
    background-image: url('../images/proto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
*/